html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
}
h1{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 15px #f80505
}
h2 {
  text-align: center;
  text-shadow: 2px 2px 15px #f80505
}
.obriger_text {                                 //*Definiert den Text unter der Überschrift "Kalenderblatt vom 13.06.2025"*/
  font-size: 30px;
  color: rgb(235, 225, 225);
  text-shadow: 2px 2px 15px #f80505
}
table {
  /*Definiert die Tabelle*/
  border-collapse: collapse;
  width: 900px;
  margin: auto;
  margin-bottom: 6%;
  margin-top: 5%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0.1.8);
}
th {                                          //*definiert die Kopfzeile der Tabelle*/
  color: rgb(165, 22, 117);
  text-shadow: 2px 2px 15px #f80505
}
.kalender {
  color: rgb(198, 21, 21);
  text-align: center;
  font-size: larger;
}
body {
                                              //*Definiert das Gesamtbild*/
  font-family: Arial, sans-serif, geneva;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 10h;
  background-image: url("assets/images/background.avif");
}
th,
td {
  /*Definiert die Kästchen der Tabelle*/
  border: 10px solid #070706;
  padding: 55px;
  text-align: center;
  background-color: #221919b4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.8);
  text-shadow: 2px 2px 15px #f80505
}
td {
  /*Definiert Tabelle ohne Kopfzeile*/
  border: 5px solid #1d1c1c;
  height: 50px; /*Höhe von der Tabelle*/
  padding: 20px; /*Abstand von Schriften zum Rahmen*/
  text-align: center; /*Bestimmt wo die Zahl in den Kästen steht*/
  background-color: #25211fad;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.8);
}
td:hover {
  /*Gibt dem Text "Historische Ereignisse" gewisse Eigenschaften*/
  background-color: rgba(
    168,
    3,
    17,
    0.349
    ); /*Farbe wird rot, wenn man mit den Cursor drüber geht*/
}
.Samstag {
  /* Definiert die Spalte "Samtag"*/
  background-color: #0c08e4a4;
}
.Sonntag {
  /*Definiert die Spalte "Sonntag"*/
  background-color: #ee060698;
}
.historische_ereignisse {
  /*Definiert den Text "Historische Ereignisse"*/
  border: groove;
  border-color: #0705056c;
  border-width: 5px;
  border-radius: 90px;
  background-color: #4b423c;
  margin: auto;
  width: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 2.8);
}
.historische_ereignisse :hover {
  color: #8f5512;
  font-size: 24px;
  border-collapse: colla;
  text-align: center;
  width: 60%;
  margin: auto;
}
p {
  color: #070303;
  font-size: 28px;
}
