html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
}
h1{
  color: rgb(236, 232, 232);
  text-shadow: 2px 2px 15px #f80505
}
h2 {
  text-align: center;
  text-shadow: 2px 2px 15px #f80505
}
.obriger_text {                                 //*Definiert den Text unter der Überschrift "Kalenderblatt vom 13.06.2025"*/
  font-size: 30px;
  color: rgb(235, 225, 225);
  text-shadow: 2px 2px 15px #f80505
}
table {
  /*Definiert die Tabelle*/
  border-collapse: separate;
  width: 900px;
  margin: auto;
  margin-bottom: 6%;
  margin-top: 5%;
  box-shadow: 0px 0px 30px #fb0101
}
.montag{
  background-image: url("assets/images/wochentage.jpg");
   color: white;
  text-shadow: 2px 2px 15px #eae4e4;
}
.dienstag {
  background-image: url("assets/images/wochentage.jpg");
   color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.mittwoch {
  background-image: url("assets/images/wochentage.jpg");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.donnerstag {
  background-image: url("assets/images/wochentage.jpg");
   color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.freitag  {
  background-image: url("assets/images/wochentage.jpg");
   color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.samstag  {
  background-image: url("assets/images/samstag_background_new.png");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.sonntag  {
  background-image: url("assets/images/sonntag.webp");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.wochenende_1:hover {
  background-image: url("assets/images/samstag_background_new.png");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.wochenende_2:hover {
  background-image: url("assets/images/sonntag.webp");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.tag:hover {
  background-image: url("assets/images/wochentage.jpg");
  color: white;
  text-shadow: 2px 2px 15px #eae4e4
}
.kalender {
  color: rgb(231, 227, 227);
  text-align: center;
  font-size: larger;
}
body {
  font-family: Arial, sans-serif, geneva;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 10h;
  background-image: url("assets/images/background.avif");
}
th,
td {
  /*Definiert die Kästchen der Tabelle*/
  border: 5px solid #645d5d;
  padding: 55px;/*Definiert Tabelle ohne Kopfzeile*/
  border: 5px solid #645d5d;
  height: 50px; /*Höhe von der Tabelle*/
  padding: 20px; /*Abstand von Schriften zum Rahmen*/
  text-align: center; /*Bestimmt wo die Zahl in den Kästen steht*/
  background-color: #25211fad;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.8);
  text-align: center;
  background-color: #221919b4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.8);
  text-shadow: 2px 2px 15px #f70404
}
td:hover {
  /*Gibt dem Text "Historische Ereignisse" gewisse Eigenschaften*/
  background-color: rgba(168,3,17,0.349); /*Farbe wird rot, wenn man mit den Cursor drüber geht*/
}
.historische_ereignisse {
  /*Definiert den Text "Historische Ereignisse"*/
  border: groove;
  border-color: #0705056c;
  border-width: 5px;
  border-radius: 90px;
  background-color: #4b423c;
  margin: auto;
  width: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 2.8);
}
.historische_ereignisse :hover {
  color: #8f5512;
  font-size: 24px;
  border-collapse: colla;
  text-align: center;
  width: 60%;
  margin: auto;
}
p {
font-size: 28px;
}